# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env/

# VSCode / IDE folders
.vscode/
.idea/

# Test/cache folders
.pytest_cache/
*.log

# OS-specific
.DS_Store
Thumbs.db

# Compiled or system files
*.so
*.dll
*.exe

# History and output folders
exported_graphs/
afbeeldingen/
.filtered-graphs/

# Generated filters and input/output
filter.json
history.txt

# Backup files
backup*
auto_backup.py
backup_history.py

# Geng & test input files
geng
e=*
test.txt
test_graphs.txt
run_parallel_filter.sh'

# Flask cache
instance/
*.db



